
* {
    margin: 0px;
}

#top-bar {
    padding: 20px;
    background-color: #2750ae;
    color: white;
    text-align: right;
    margin: 0px;
}

#top-bar * {
    display: inline-block;
}

nav {
    display: flex;
    height: 104px;
    padding-left: 24px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px #898989;
}

nav img {

}

#nav-links {
    flex: 1;
    text-align: right;
}

#nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 9px 10px;
    margin-right: 66px;
    position: relative;
}

#nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

#nav-links ul li::after {
    content: "";
    display: block;
    height: 2px;
    background: #2750ae;
    width: 0%;
    margin: auto;
    transition: 0.5s;
}

#nav-links ul li:hover::after {
    width: 100%;
}

body {
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

#anno {
    display: inline-block;
    margin-inline-start: 142px;
    margin-top: 49px;
    width: 275px;
    height: 54px;
}

#anno * {
    display: inline-block;
}
#promo {
    display: inline-block;
    margin-left: 346px;
    margin-top: 49px;
    height: 54px;
}

#promo * {
    display: inline-block;
}

#announcement {
    margin-inline-start: 134px;
    background-color: #d9d9d9;
    margin-top: 49px;
    display: inline-block;
    width: 560px;
    height: 331px;
    text-align: left;
    font-size: large;
}

#Promotion {
    margin-inline-start: 56px;
    background-color: #d9d9d9;
    margin-top: 49px;
    display: inline-block;
    width: 560px;
    height: 331px;
    text-align: left;
    font-size: large;
}

section {
    box-shadow: 0px 3px #adacac;
    border: 1px solid black;
}

#Interesting-section {
    margin-inline-start: 134px;
    display: inline-block;
    margin-top: 60px;
    width: 572px;
    height: auto;
}
#Interesting-section h2 {
    display: inline-block;
}

#Interesting-section #big-blog {
    display: inline-block;
}

#Interesting-section #big-blog .Interesting-blog {
    padding-left: 14px;
    width: 100%;
    height: 84px;
    background-color:white;
    display: inline-block;
    margin-top: 11px;
    border: 2px solid #d9d9d9;
    border-radius: 3px;
}

#Interesting-section .Interesting-blog h6 {
    background-color: white;
    display: inline-block;
    margin: 3px 8px;
    width: 132px;
    height: 16px;
    color: #898989;
}

#Interesting-section .Interesting-blog h4 {
    background-color: white;
    display: inline-block;
    margin: 3px 8px;
}

#Interesting-section .Interesting-blog .button1 {
    background-color: #d1f7c4;
    border-radius: 100px;
    border: 0px;
    margin-left: 3px;
}

#Interesting-section .Interesting-blog .button2 {
    margin-left: 80px;
    background-color: #e9eef9;
    border-radius: 3px;
    border: 0px;
    margin-right: 96px;
}

#activity-club {
    display: inline-block;
    margin-inline-start: 31px;
    background-color: #d9d9d9;
    height: 655px;
    width: 560px;
}

#activity-club h1 {
    text-align: center;
}


#activity-club button {
    width: auto;
    height: 49px;
    padding: 16px;
    margin-left: 41px;
    border-radius: 5px;
    border: 0px;
    background-color: white;
}

#club-list {
    width: 475px;
    height: 370px;
    margin-left: 42px;
    background-color: white;
    margin-top: 38px;
    border-radius: 5px;
}



.second-nav-bar {
    display: block;
    margin: 0px;
    background-color: #2750ae;

    color: black;
    height: 156px;
    justify-content: space-between;
    align-items: center;
}

.second-nav-bar * {
    display: inline-block;
}

.second-nav-bar h4 {
    color: white;
    margin-right: 30px;
}

.second-nav-bar .search-bar {
    margin: -10px;
}

.second-nav-bar input[type=text] {
    display: inline-block;
    width: 300px;
    height: 22px;
    border-radius: 28px;
    align-self:flex-end ;
    margin-inline: 20%;
}

.second-nav-bar img {
    display: inline-block;
    width: 22px;
    height: 22px;
}

.second-nav-bar button {
    display: inline-block;
    width: 22px;
    height: 22px;
}

.each-playlist {
    margin-top: 80px;
    margin-left: 0px;
    display: inline-block;
    width: 640px;
    height: 240px;
    box-shadow: none;
    text-align: right;
    border: none;
}

.each-playlist * {
    display: inline-block;
    margin: 0px;
}

.each-playlist .playlist-box {
    background-color: #94abe0;
    border-radius: 35px;
    border: 3.6px solid #2750ae;
    width: 440px;
    height: 240px;
    margin-left: 15px;
    margin-top: 0px;
    text-align: left;
}

.each-playlist .playlist-box .playlist-image {
    width: 160px;
    height: 160px;
    display: inline-block;
    border-radius: 35px;
    background-color: white;
    margin: 40px;
}

.each-playlist .playlist-box .playlist-description {
    display: inline-block;
    width: 50%;
    
}